.phoneController {
    width: 222px;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: -6px;
    border-color: solid;    
}

.colorError {
    color: red;
}

.selectCountry {
    width: 223px;
    height: 29px;
}

.phoneControllerShip {
    width: 222px;
    margin-top: 15px;
    margin-bottom: -20px;
    border-color: solid;

}

