
body {
  margin: 0;
  font-family: 'Inter', system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #edf5fa !important;
  background: radial-gradient(rgb(249, 253, 2), rgb(141, 168, 230));
}

* {
 	font-family: 'Inter', system-ui;
}

.wrapper {	
	background: white;
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
	border-radius: 20px;
	width: 80%;
	max-width: 1080px;
	margin: 50px auto;	

	header {

		display: flex;
		position: relative;

		.headerLeft {
			display: flex;
		}

		.headerLeft > img {
			width: 6rem;			
		}
		
		a:hover {
			text-decoration: none; 
		}
		
		border-bottom: 1px solid #eaeaea;	
		.background-none {
			background: none;
			border: none;
		}	

		.grettings {
			position: absolute;
			bottom: 5px;
			right: 62px;		
		}

		.logoutBtn {
			font-size: 12px !important;
			color: blue;
		}

		.selectBlock {
			border-radius: 5px;
			font-weight: 500;

		}		
	}

	.inputLine {
		display: flex;
	}
	
	.search-block {
		border: 1px solid #f3f3f3;
		height: 30px;

		input {
			width: 200px;
			margin-left: 5px;
			border: none;
			outline: none;
		}
	}	
	.removeBtn {
		width: 30px;
		background-color: white;		
		//border-color: #f1ebeb;		
		//border-radius: 7px;
		//border-style: solid;
		border: none;
		cursor: pointer;
		opacity: .7;
		transition: opacity .2s ease-in-out;

		&:hover {
			opacity: 1;
		}

		.rotate-plus {
			transform: rotate(45deg);
			margin-bottom: 3px;
			opacity: .4;
		}
	}
}

@media (max-width: 684px) {
	.wrapper {
		width: 90%;
	}
	header {
		display: block !important;
		.grettings {
			position: relative;
			width: 120px;
			bottom: -5px !important;
			left: 80px;	
			margin: 0 auto !important;
		}
		.link-login {
			width: 120px;
			bottom: -5px !important;
			left: 80px;	
			margin: 0 auto !important;

		}
	}	
	.list-unstyled {
		justify-content: center;
		margin-top: 20px;
	}
	
}

@media (max-width: 415px) {
	
	.inputBlock {
		max-width: 85px !important;			
	}

	.inputLine {
		display: block !important;
		margin-bottom: 15px;
	}
}

@media (min-width: 281px) and (max-width: 415px) {
	.grettings {		
		top: 215px;
	}

	.link-login {
		top: 215px;
	}
}

@media (max-width: 280px) {
	.headerLeft {
		display: block !important;
	}
}